// SET COLORS OF OUR PROJECT - ALWAYS CHECK LAYOUT ON FIGMA - BEA

// Colors for NAVBAR
$main-blue: #33418A; // Blue of the Navbar (our main blue)
// $pearl-white: #FCF9EA; // only for navbar texts
$pearl-white: #FDFDFB;

// GET GIGI'S HELP WITH THIS COLOR
$body-background: #E1E7F2;
$hot-blue: #3B88FD;


// ALL THESE COLORS SCRAPPED -JBM
// Colors of BIDDER page
$light-blue: #D2E9FF; // row selected + search bar color bg
$lighter-blue: #EFF7FF; // bg for row header + bg div rows container
$icon-blue: #42EFFC; // color for all icons on bidder page except chat icon
$chat-blue: #3AACFF; // for chat icon and other style - check layout Figma

// Colors of REQUESTS page
$light-orange: #FFE9DC; // row selected + search bar color bg
$lighter-orange: #FFF5EF; // bg for row header + bg div rows container + bg description text box
$icon-orange: #FFC700; // color for all icons INCLUDING DOT-MEDIUM on request page except for DOT-HIGH and DOT-LOW icons
$dot-low: #FFC9AA; // check Figma layout
$dot-high: #FF3A75; // check Figma layout

// GREY COLORS FOR TEXTS AND TEXT BOXES
$dark-gray: #88888A; // for texts + icon search bar
$light-gray: #E6E8F1; // for text box bg - form
$lighter-gray: #F2F4FF; // for text box bg - only chat form

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$scope-global: #B6402C;
$scope-tx: #FFE66D;
$scope-team: #6E9976;
$scope-entity: #214B63;


