<tr class="pretty-row">
  <td class="row-left-element">
    <%= appointment.id %>
  </td>

  <td class="row-middle-element">
    <%= appointment.time %>
    <!-- <input class="check-box" type="checkbox" checked=""> -->
  </td>

  <td class="row-right-element">
    <%= appointment.patient.first_name %> <%= appointment.patient.last_name %>
  </td>

</tr>
