<div class="button-box">
  <button class="trigger">
    <div class="text-button-trigger">
      add a new appointment <i class="fas fa-plus-circle"></i>
    </div>

  </button>
</div>

<div class="requests-body">
    <!-- HEADERS -->
    <table class="pretty-table">
      <thead>
        <tr>
          <td><h1>ID</h1></td>
          <td><h1>DATE & TIME</h1></td>
          <td><h1>PATIENT</h1></td>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <%= render 'appointments/table', appointment: appointment %>
        <% end %>
      </tbody>
    </table>
  </div>
